{% extends "base.html" %}

{% block title %}Table Input{% endblock %}

{% block content %}
    <form action="/submit" method="get">
        <input type="text" id="recipeID" placeholder="Enter Recipe ID">
        <input type="text" id="recipeName" placeholder="Enter Recipe Name">
        <input type="text" id="recipePage" placeholder="Enter Recipe Page URL">
        <input type="text" id="recipeBook" placeholder="Enter Recipe Cookbook">
        <input type="submit" value="Submit">
    </form>
{% endblock %}